body{
    margin:0;
    background-color: #070909;
}
#heading{
    font-size:100px;
    font-weight: bold;
    color:#b3b6b7;
    text-align: center;
    margin-top:8vh;
    padding:20px;
}
.main{
    text-align: center;
    margin-top:10vh;
    color:#b3b6b7;
    font-size:200px;
}
.subscript{
    font-size:50px;
    color:#b3b6b7;
}
.down-menu{
    font-size:25px;
    text-align: center;
    color:white;
    padding:10px;
}
#start{
    background-color:#85C1E9;
    display:inline-block;
    width:120px;
    padding:20px 0px;
    margin:10px;
    border-radius: 70%;
    cursor:pointer;
}
#lap{
    background-color:#707B7C ;
    display:inline-block;
    width:120px;
    padding:20px 0px;
    margin:10px;
    border-radius: 70%;
    cursor:pointer;
}
#reset{
    display:inline-block;
    background-color:#e74c3c;
    width:120px;
    padding:20px 0px;
    margin:10px;
    border-radius: 70%;
    cursor:pointer;
}
hr{
    margin:20px 0px;
    display:none;
}
#lapheader{
    display:none;
    color:#b3b6b7;
    font-size:3vw;
    font-weight: bold;
}
#lapcnt{
    display:inline-block;
    margin-left:12vw;
}
#laptime{
    display:inline-block;
    margin-left:27vw;
}
#overalltime{
    display:inline-block;
    margin-left:17vw;
}

@media screen and (max-width:600px)
{
    body{
        margin:0;
    }
    #heading{
        font-size:30px;
        font-weight: bold;
        color:#b3b6b7;
        text-align: center;
        /* margin-right:10%; */
        margin-top:8vh;
        padding:4px;
    }
    .main{
        text-align: center;
        margin-top:10vh;
        color:white;
        font-size:50px;
    }
    .subscript{
        font-size:15px;
        color:white;
    }
    .down-menu{
        font-size:25px;
        text-align: center;
        color:white;
        padding:10px;
    }
    #start{
        display:block;
        background-color:#85C1E9;
        text-align: center;
        padding:5px 10px;
        border-radius: 5%;
        width:100%;
    }
    #lap{
        display:block;
        border-radius: 5%;
        background-color:#707B7C ;
        text-align: center;
        padding:5px 10px;
        width:100%;
    }
    #reset{
        display:block;
        background-color:#e74c3c;
        text-align: center;
        padding:5px 10px;
        border-radius: 5%;
        width:100%;
    }
}
